@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F8f8f8;
}


.movie {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
}

.movie__item {
    width: 30%;
    margin: 0 12px;
}

.movie__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.movie__img {
    width: 360px;
    height: 480px;
}